html{
background-color: blueviolet;
}

.container-pai{

height: 280px;
width: 620px;
background-color: tomato;


}

.container-filho{

height: 140px;
width: 310px;
background-color: yellow;
position: relative;
bottom: 20px;
left: 250px;

}



.container-filho-dois{

height: 140px;
width: 310px;
background-color: rgb(214, 24, 189);
position: absolute;
left: 80px;
z-index: 4;


}